body {
  margin: 0;
}
.container {
  display: flex;
}
.item {
  width: calc(100% / 3);
  height: 300px;
  transition: width .5s linear;
}
.item:nth-child(2n-1) {
  background-color: darkslateblue;
}
.item:nth-child(2n) {
  background-color: blueviolet;
}
.active {
  width: 100%;
}